<ion-header>
  <ion-navbar>
    <ion-title>
      My todoLists
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSeeProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <ion-spinner *ngIf="listsPending"></ion-spinner>
  </div>
  <ion-list *ngIf="!listsPending">
    <ion-item *ngFor="let list of lists">
      <ion-grid>
        <ion-row>
          <ion-col (click)="onListSelected(list)">
            {{ list.name }}
          </ion-col>
          <ion-col>
            <ion-icon name="trash" color="danger" float-right (click)="onDeleteList(list.uuid)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>